.container {
    display: flex;
    max-width: 100%;
    max-height: 80%;
    padding-top: 80px;
}

.gradientIndicator {
    background: radial-gradient(var(--success-700), transparent, transparent, transparent);
    aspect-ratio: 1/1;
    border-radius: var(--border-radius-xl);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .5s ease-in-out;
    animation: backgroundMovement 30s infinite;
}

.contentContainer {
    display: flex;
    margin-top: 50px;
    align-self: center;
    padding-inline: 160px;
}


.leftDottedLine {
    height: 100%;
    margin-bottom: -100px;
    width: 60%;
    margin-left: 50%;
    border-bottom-left-radius: 10px;
    border-bottom: 1px dashed var(--success-700);
    border-left: 1px dashed var(--success-700);
    animation: borderAnimation 1s linear forwards;
}

.rightDottedLine {
    height: 100%;
    margin-bottom: -100px;
    width: 60%;
    align-self: flex-end;
    margin-right: 50%;
    border-bottom-right-radius: 10px;
    border-bottom: 1px dashed var(--success-700);
    border-right: 1px dashed var(--success-700);
    animation: borderAnimation 1s linear forwards;
}

@keyframes borderAnimation {
    0% {
        opacity: 0;
        height: 0%;
        width: 0%;
    }
    50% {
        height: 100%;
        width: 0%;
    }
    75% {
        height: 100%;
        width: 30%;
    }
    100% {
        height: 100%;
        width: 125%;
        opacity: 1;
    }
}


@keyframes backgroundMovement {
    0% {
        top: 50%;
        left: 50%;
    }
    20% {
        top: 55%;
        left: 55%;
    }
    40% {
        top: 45%;
        left: 55%;
    }
    60% {
        top: 55%;
        left: 45%;
    }
    80% {
        top: 45%;
        left: 45%;
    }
    100% {
        top: 55%;
        left: 50%;
    }
}