.container {
    width: 100%;
}

.matchContainer {
    border-width: 1px;
    border-color: var(--success-700);
    border-radius: var(--border-radius-s);
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 25px;
    border-style: dashed;
    animation: animateOpacity 0.5s ease-in;
}
 
@keyframes animateOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
   
}
