.container {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
}

.descriptionContainer {
    display: flex;
}

.iconContainer {
    width: 55px;
    margin-left: -14px;
    display: flex;
    justify-content: center;
}
