.container {
    display: flex;
    flex-wrap: wrap;
}

.descriptionContainer {
    display: flex;
    margin-top: 4px;
}

.iconContainer {
    width: 45px;
    margin-left: -14px;
    display: flex;
    justify-content: center;
}
