.container {
    display: flex;
    flex-direction: column;
    min-height: 260px;
    min-width: 260px;
    max-height: 240px;
    max-width: 260px;
    overflow: hidden;      
    border: 1px solid var(--neutral-300);
    border-radius: 8px;
    transition: transform 0.1s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
}

.container:hover {
    transform: scale(.99);

}

.thumbnail {
    max-height: 130px;
    min-height: 130px;
    min-width: 260px;
    max-width: 260px;
    margin-bottom: -35px;
}

.topContainer {
    min-height: 60px;
}

.description {
    margin-top: 6px;
    margin-inline: 10px;
    flex-grow: 1;  
    text-overflow: ellipsis;
    display: 'inline-block'
}

.bottom {
    margin-inline: 10px;
    margin-bottom: 8px;
}