:root {
  /* Primary colors */
  --primary-700: #E50914;
  --primary-900: #B20710;

  /* Shades */
  --shades-100: #08070E;
  --shades-0: #E5E5E5;

  /* Neutral */
  --neutral-700: #141414;
  --neutral-500: #8C8C8C;

  /* Sucess --> Green */
  --success-700: #71D075;

  /* semantic color variables for this project */
  --color-background: var(--neutral-700);

  /* Padding presets */
  --padding-s: 10px;
  --padding-m: 15px;
  --padding-l: 20px;
  --padding-xl: 25px;

  /* Borderradius presets */
  --border-radius-s: 10px;
  --border-radius-m: 15px;
  --border-radius-l: 20px;
  --border-radius-xl: 10000px;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  text-align: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "NetflixSans";
  src: url('./assets/fonts/NetflixSans-Bold.otf') ;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "NetflixSans";
  src: url('./assets/fonts/NetflixSans-Light.otf') ;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NetflixSans";
  src: url('./assets/fonts/NetflixSans-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NetflixSans";
  src: url('./assets/fonts/NetflixSans-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

.custom-font {
  font-family: "NetflixSans";
}

input {
  appearance: none;      /* Remove standard appearance */
  -webkit-appearance: none; /* For older Safari versions */
  -moz-appearance: none;    /* For older Firefox versions */
  background: none;      /* Remove background */
  border: none;          /* Remove border */
  font: inherit;         /* Use the same font settings as the parent element */
  margin: 0;             /* Remove margins */
  padding: 0;            /* Remove padding */
  width: auto;           /* Reset width */
  outline: none;         /* Remove focus outline */
  box-shadow: none;      /* Remove box shadows */
  color: inherit;        /* Use the same text color as the parent element */
}

body {
  margin: 0;
  background: var(--color-background);
  font-family: 'NetflixSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
